@import "src/assets/styles/color-palette.scss";

div.modal {
  background-color: $black-color;

  .header {
    color: white;
    background-color: $black-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }
  }

  .content {
    padding: 20px;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      flex-direction: column;
      min-width: 400px;
      width: 30%;

      button[type="submit"] {
        background-color: $purple-main-color;
        height: calc(100% - 22px);
      }
    }
  }
}
