@import "src/assets/styles/color-palette.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: column;

  .buttons {
    display: flex;
    gap: 10px;

    button {
      width: 100%;
    }

    button[type="submit"] {
      background-color: $purple-main-color;
    }

    button.delete {
      background-color: $red-warning-color;
    }
  }
}
