@import "src/assets/styles/color-palette.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: column;

  button[type="submit"] {
    background-color: $purple-main-color;
  }
}
