<div class="modal">
  <div class="header">
    <h2>{{ mode == "create" ? "Adicionar" : "Atualizar" }} tarefa</h2>
    <mat-icon (click)="onClose()">close</mat-icon>
  </div>
  <div class="content">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmitForm()">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Digite o título da tarefa"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Digite a descrição tarefa da tarefa"
          rows="5"
        >
        </textarea>
      </mat-form-field>
      <button mat-button type="submit">
        {{ mode == "create" ? "Adicionar" : "Atualizar" }}
      </button>
    </form>
  </div>
</div>
