/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Estilo para botão de visualizar senha em formulário
form {
  div.change-password-visiblity {
    padding: 8px;
    color: white;
    cursor: pointer;
  }
}

// Estilo para o dialog do angular material
.dialog-standard {
}
