@import "src/assets/styles/color-palette.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Estilo para botão de visualizar senha em formulário
form {
  div.change-password-visiblity {
    padding: 8px;
    color: white;
    cursor: pointer;
  }
}

// Estilo para as modais do sistema

div.modal {
  background-color: $black-color;

  .header {
    color: white;
    background-color: $black-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }
  }

  .content {
    padding: 20px;
  }
}
